{{extend 'layout.html'}}

<style>

#contentwrapper{
    
	width: 100%;
	
}    
      

#content { 

        margin-left:250px;
            
}

#left {
    
    float: left;
    width:200px;
	border-right:1px solid rgb(238,238,238);
	border-bottom:1px solid rgb(238,238,238);
	padding-left:15px;
	padding-bottom:15px;    
}
</style>

<div class="centered-width">
	<div id="left">
		<h3>settings</h3>
	    <h4><a href="/account/accounts/">connected accounts</a></h4>
	    <h4><a href="/account/general/">general info</a></h4>
		<h4><a href="/account/notification/">notification settings</a></h4>
	    <h4><a href="/account/privacy/">privacy settings</a></h4>
	</div>
	<h1>member name</h1>
	<h3>account balances</h3>
	<div class="well">
		epoint<br>
		dollar<br>
		food point<br>
		trevor point<br>
		bitcoin<br>
		dogecoin<br>
		litecoin<br>
		inlrn point<br>
		teaching point<br>
	</div>


	<br><br><br><br>

	<a href="">invest your value into other formas of value to make value and have value grow and such</a>
</div>


<br><br><br><br>